<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Deepfake Detection</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'bootstrap/bootstrap.min.css' %}">
    
    <!-- jQuery UI CSS -->
    <link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}">
    
    <!-- Custom Styles -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    {% include 'nav-bar.html' %}

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <!-- jQuery JS -->
    <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
    
    <!-- Popper.js -->
    <script src="{% static 'js/popper.min.js' %}"></script>
    
    <!-- jQuery UI JS -->
    <script src="{% static 'js/jquery-ui.min.js' %}"></script>

    {% block js_scripts %}
    {% endblock %}
</body>
</html>
